
    .header {
      background-color: white;
      height: 70px;
      display: flex;
      align-items: center;
      padding: 0px 90px;
    }
    .header img {
      height: 60px;
    }
    .search-wrapper pp {
            background-color: white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
        }
    .users{
      background-color: #82A70C;
      color: white;
    }
    .butt{
      border-style: none;
    }